body{
    margin: 0%;
}

a:hover{
    background-color:#f2f2f2  ;
}




span{
    color: red;
    font-style: italic;
}



.name{
    color:black;
    align-items: center;
}



.top{
    background-color:#ffffcc;
    height: 200px;
    padding: 10px;    
}
.top:hover{
    background-color: antiquewhite;
}


.pic{
    height: 200px;
    width: 200px;
    position: absolute;
    right: 20px;
}
.pic:hover{
    background-color:#f2f2f2 ;
}

.edu{
    background-color: #ffffe6;
    height: 200px;
    
}
.edu:hover{
    background-color: antiquewhite;
}

.year{
    color: blueviolet;
    position: absolute;
    right: 20px;
    top: 300px;
}
.year:hover{
    background-color:#f2f2f2 ;
}
.dy{
    color: blueviolet;
    position: absolute;
    right: 20px;
    top: 370px;
}
.dy:hover{
    background-color:#f2f2f2 ;
}

.dy1{
    color: blueviolet;
    position: absolute;
    right: 20px;
    top: 500px;
}
.dy1:hover{
    background-color:#f2f2f2 ;
}

.work{
    background-color:#ffffcc;
    height: 205px;
    
}
.work:hover{
    background-color: antiquewhite;
}
.in{
    color: orange;
    font-style: bold;
}
.pro{
    background-color:#ffffe6;
    height: 300px;
}
.pro:hover{
    background-color: antiquewhite;
}

.skills{
    background-color: #ffffcc;
}
.skills:hover{
    background-color: antiquewhite;
}